# Created by https://www.gitignore.io/api/jupyternotebook
# Edit at https://www.gitignore.io/?templates=jupyternotebook

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# End of https://www.gitignore.io/api/jupyternotebook
